* {
    margin: auto;
    padding: 0px;
}
header {
    width: 100%;
    background-color:rgb(69, 92, 68);
    height:60px;
    overflow: hidden;
    position:fixed;
} 
header ul li a {
    color: rgb(253, 253, 253);
    font-family:'Gill Sans';
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
header ul li  {
    list-style: none;
    margin-right: 20px;
    display: inline;
}
header ul {
    float: right;
    margin-top: 20px;
    margin-right: 60px;
}
li a:hover{
    color: rgb(176, 212, 247);
}
.banner{
    background: url(../img/banner.jpg.jpg);
    height:522px;
    width: 100%;
    overflow: hidden;
    clear: both;
    margin-top: 60px;
}
.mainHeader{
    overflow: hidden;
}
.suggested_destination{
    width:100%;
    padding:50px 0px 50px 0px; 
}
.suggested_destination h1, p {
    text-align: center;
    width: 100%;
}
.suggested_destination p{
    padding-top:20px;
    font-size: 30px;
}
.available_hotels{
    width: 100%;
    background-color: rgb(200, 243, 246);
}
img{ 
    border-radius: 20px;
    margin:15px;
}
.forms{
    width: 60%;
    margin-left: 0px;
    padding: 20px;
}
input, textarea {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
}
.regSubmitBtn {
    background: green;
    color: white;
    border-radius: 4px;
    padding:5px;
}
.loginSubmitBtn {
    background: green;
    color: white;
    border-radius: 4px;
    padding:5px;
}
.listSubmitBtn {
    background: green;
    color: white;
    border-radius: 4px;
    padding:5px;
}
#pics{
    margin: auto;
    width: 80%;
    padding:5px;
}

table, th{
    border: 1px solid black;
    border-collapse: collapse;
    width: 35%;
    padding: 5px;
    color: rgb(10, 10, 10);
    background: rgb(48, 197, 73);
}
table{
    margin-left: 10px;
}
th, td{
    text-align: center;
}
td{
    border: 1px solid black; 
}
.form-control {
    width: 15%;
    padding:5px;
    margin:10px 0px 10px 10px;
}
.delete {
    background:red;
    color: white;
    border-radius: 4px;
    padding:5px;
}
.right{
    text-align: center;
    width:33%;
    float:right;
}
.left{
    text-align: center;
    width:33%;
    float:left;
}
.middle{
    text-align: center;
    width:34%;
    float:right;
}
.clear{
    clear:both;
}
.footer_container p a{
    text-decoration: none;
    font: green;
}
.hotelTable{
    display: none;
}